.default-background {
    background: #fff;
}
nav {
    background: #fff;
    border-bottom: 1px solid #aaa;
}
nav a {
    color: #666;
}
.logo {
    background: url(https://www.denhaag.nl/static/denhaagrestylepresentation/images/DH-NL-Rgb-CS6.svg) top left no-repeat;
    background-size: contain;
    height: 20px;
    width: 160px;
    float: left;
}
