.default-background {
    background: #fff;
}
nav {
    background: #fff;
    border-bottom: 1px solid #aaa;
}
nav a {
    color: #666;
}
.logo {
    background: url(https://www.zuid-holland.nl/publish/pages/26873/pzh_basislogo_rgb_1_0.svg) top left no-repeat;
    background-size: contain;
    height: 20px;
    width: 160px;
    float: left;
}
